<img
  src="images/front.pdf"
  style="position: absolute; top: -3mm; left: -3mm; width: 69mm; height: 94mm"
/>
<div
  style="
    position: absolute;
    top: 3mm;
    right: 3mm;
    bottom: 3mm;
    left: 3mm;
    display: flex;
    flex-direction: column;
  "
>
  <div
    style="
      display: flex;
      flex-grow: 0;
      flex-basis: 8mm;
      align-items: center;
      justify-content: center;
      color: cmyk(100% 0% 0% 0%);
      font-size: 4mm;
      font-weight: bold;
    "
  >
    <%= record.name %>
  </div>
  <img
    src="images/art.pdf"
    style="width: 54mm; height: 34mm; flex-grow: 0; align-self: center"
  />
  <div
    style="
      display: flex;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: cmyk(0% 0% 0% 100%);
      text-align: center;
      font-size: 4mm;
    "
  >
    <%- record.description %>
  </div>
</div>
